<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>場所設定画面</title>
  <meta name="viewport" content="initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/js/jquery-ui-1.11.4.custom/jquery-ui.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/map.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/placeconfig.css}" />
  <script src="/js/jquery/jquery-2.2.0.min.js" th:src="@{/js/jquery/jquery-2.2.0.min.js}"></script>
  <script src="/js/jquery-ui-1.11.4.custom/jquery-ui.min.js" th:src="@{/js/jquery-ui-1.11.4.custom/jquery-ui.min.js}"></script>
  <script type="text/javascript" th:src="'https://maps.googleapis.com/maps/api/js?key='+__${googleMapApiKey}__+'&amp;libraries=drawing,places,geometry'"></script>
  <script src="/js/kdc/core.js" th:src="@{/js/kdc/core.js}"></script>
  <script th:src="@{/js/kdc/placeMap.js}"></script>
  <style type="text/css" th:utext="${pagecss}"></style>
</head>
<body>
  <script th:utext="${pagejs}"></script>
  <div id="titleArea" th:text="${lblTitle}">キッズコントロール　　場所設定画面</div>
  <div id="map-canvas"></div>
  <form action="" method="post">
    <input type="hidden" th:name="mapLatitude" th:id="mapLatitude" th:value="${form.mapLatitude}" />
    <input type="hidden" th:name="mapLongitude" th:id="mapLongitude" th:value="${form.mapLongitude}" />
    <input type="hidden" th:name="mapZoomLevel" th:id="mapZoomLevel" th:value="${form.mapZoomLevel}"/>
    <input type="hidden" th:name="placeIdList" th:id="placeIdList" th:value="${form.placeIdList}"/>
    <input type="hidden" th:name="placeNameList" th:id="placeNameList" th:value="${form.placeNameList}"/>
    <input type="hidden" th:name="placeTypeList" th:id="placeTypeList" th:value="${form.placeTypeList}"/>
    <input type="hidden" th:name="placeIconIdList" th:id="placeIconIdList" th:value="${form.placeIconIdList}"/>
    <input type="hidden" th:name="pointList" th:id="pointList" th:value="${form.pointList}"/>
    <input type="hidden" th:name="radiusList" th:id="radiusList" th:value="${form.radiusList}"/>
    <input type="hidden" th:name="placeIconDataList" th:id="placeIconDataList" th:value="${form.placeIconDataList}"/>
    <input type="hidden" th:name="placeTypeColorList" th:id="placeTypeColorList" th:value="${form.placeTypeColorList}"/>    
    <input type="hidden" th:name="newPlaceName" th:id="newPlaceName" th:value="${form.newPlaceName}"/>
    <input type="hidden" th:name="newPlaceTypeCd" th:id="newPlaceTypeCd" th:value="${form.newPlaceTypeCd}"/>
    <input type="hidden" th:name="newPlaceIcon" th:id="newPlaceIcon" th:value="${form.newPlaceIcon}"/>
    <input type="hidden" th:name="newLatitude" th:id="newLatitude" th:value="${form.newLatitude}"/>
    <input type="hidden" th:name="newLongitude" th:id="newLongitude" th:value="${form.newLongitude}"/>
    <input type="hidden" th:name="newRadius" th:id="newRadius" th:value="${form.newRadius}"/>
    <div class="rangeBarArea">
      <input type="range" class="rangeBar" id="radius" name="radius" min="10" max="1000" value="10" th:min="${radiusMin}" th:max="${radiusMax}" th:value="${radiusDefault}" oninput="setCircle()" onchange="changeCircle()"/>
    </div>
    <div class="buttonSet">
      <button type="button" id="doCommitDummy" class="_main" onclick="dummyCommit()">
        <img class="iconStyle" th:src="@{/images/icon/register.png}" alt="登録" />
      </button>
      <button type="submit" name="action" value="doCommit" id="doCommit" class="_hidden" >
      </button>
      <button class="cancel" type="button" onclick="window.close()">
        <img class="iconStyle" th:src="@{/images/icon/back.png}" alt="キャンセル"/>
      </button>
    </div>
    <div id="rangeValTextDiv">
      <input type="text" id="rangeValText" value="" readonly="readonly"  />
    </div>
    <input type="hidden" th:name="selectedPlaceId" th:id="selectedPlaceId" th:value="${form.selectedPlaceId}"/>
    <input type="hidden" th:name="selectedPlaceName" th:id="selectedPlaceName" th:value="${form.selectedPlaceName}"/>
    <input type="hidden" th:name="selectedPlaceTypeCd" th:id="selectedPlaceTypeCd" th:value="${form.selectedPlaceTypeCd}"/>
    <input type="hidden" th:name="selectedPlaceIcon" th:id="selectedPlaceIcon" th:value="${form.selectedPlaceIcon}"/>
    <input type="hidden" id="loginId" name="loginId" value="" th:value="${form.loginId}" />
    <button type="submit" name="action" value="doDelete" id="doDelete" class="_hidden" ></button>
  </form>
</body>
</html>