<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>履歴画面</title>
  <meta name="viewport" content="initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/js/jquery-ui-1.11.4.custom/jquery-ui.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/map.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/record.css}" />
  <script src="/js/jquery/jquery-2.2.0.min.js" th:src="@{/js/jquery/jquery-2.2.0.min.js}"></script>
  <script src="/js/jquery-ui-1.11.4.custom/jquery-ui.min.js" th:src="@{/js/jquery-ui-1.11.4.custom/jquery-ui.min.js}"></script>
  <script src="/js/jquery.ui.datepicker-ja.min.js" th:src="@{/js/jquery.ui.datepicker-ja.min.js}"></script>
  <script type="text/javascript" th:src="'https://maps.googleapis.com/maps/api/js?key='+__${googleMapApiKey}__+'&amp;libraries=drawing,places,geometry'"></script>
  <script src="/js/kdc/core.js" th:src="@{/js/kdc/core.js}"></script>
  <script src="/js/kdc/record.js" th:src="@{/js/kdc/record.js}"></script>
  <style type="text/css" th:utext="${pagecss}"></style>
</head>
<body>
  <script th:utext="${pagejs}"></script>
  <div id="titleArea" th:text="${lblTitle}">キッズコントロール 履歴画面</div>
  <div id="blockArea1">
    <div id="map-canvas"></div>
  </div>
  <div class="rangeBarArea" th:if="${form.recordCount} > 0">
    <button class="rangeButton rangeButtonPrev" type="button" onclick="stepPrev()">
      <img class="rangeIconStyle" src="" th:src="@{/images/icon/goleft.png}" alt="前へ" width="32" height="32" />
    </button>
    <input type="range" class="rangeBar" id="recordStep" name="recordStep" min="0" max="1" th:max="${form.recordCount}-1" th:value="${form.recordCount}-1" oninput="showRecordStep()" onchange="changeRecordStep()"/>
    <button class="rangeButton rangeButtonNext" type="button" onclick="stepNext()">
      <img class="rangeIconStyle" src="" th:src="@{/images/icon/goright.png}" alt="次へ" width="32" height="32" />
    </button>
  </div>
  <div id="rangeValTextDiv" th:if="${form.recordCount} > 0">
    <input type="text" id="rangeValText" value="" readonly="readonly"  />
  </div>
  <div class="mainDiv">
    <form action="" method="post">
      <input type="hidden" name="userId" id="userId" th:value="${form.userId}" value="" />
      <input type="hidden" name="dispBlock" id="dispBlock" th:value="${form.dispBlock}" value="" />
      <input type="hidden" name="receiveDate" id="receiveDate" th:value="${form.receiveDate}" value="" />
      <input type="hidden" name="date2" id="date2" th:value="${form.date}" value="" />

      <input type="hidden" id="mapLatitude" name="mapLatitude" value="" th:value="${form.mapLatitude}" />
      <input type="hidden" id="mapLongitude" name="mapLongitude" value="" th:value="${form.mapLongitude}" />
      <input type="hidden" name="mapZoomLevel" id="mapZoomLevel" value="" th:value="${form.mapZoomLevel}" />

      <input type="hidden" name="markerListAll" id="markerListAll" value="" th:value="${form.markerListAll}" />
      <input type="hidden" name="markerListLatest" id="markerListLatest" value="" th:value="${form.markerListLatest}" />
      <input type="hidden" name="infoWindowList" id="infoWindowList" value="" th:value="${form.infoWindowList}" />
      <input type="hidden" name="iconList" id="iconList" value="" th:value="${form.iconList}" />
      <input type="hidden" name="lineColorList" id="lineColorList" value="" th:value="${form.lineColorList}" />
      <input type="hidden" name="lineOpacityList" id="lineOpacityList" value="" th:value="${form.lineOpacityList}" />
      <input type="hidden" name="markerColorList" id="markerColorList" value="" th:value="${form.markerColorList}" />
      <input type="hidden" name="selectMarker" id="selectMarker" value="" th:value="${form.selectMarker}" />
      <div id="menuArea">
        <div class="menuContents">
          <div id="userView">
            <input type="text" th:name="userName" class="userName" disabled="disabled" th:value="${form.userName}" size="20" />
          </div>
        </div>
        <div class="menuContents">
          <div id="calendarView">
            <input type="text" th:name="date" th:id="date" class="date" disabled="disabled" th:value="${form.viewDate}" size="10" />
            <input type="text" disabled="disabled" value="" class="calIcon" style="display: none;" />
          </div>
        </div>
        <div class="menuContents">
          <div id="menuSelect">
            <div class="blockButton" id="blockButton1" onclick="displayBlock('1')">移動履歴</div>
            <div class="blockButton" id="blockButton2" onclick="displayBlock('2')">バッテリー残量</div>
          </div>
        </div>
        <div class="menuButton">
          <button type="submit" class="_hidden" name="action" value="doReload" id="doReload">日付更新</button>
          <button class="close" type="button" onclick="window.close()">
            <img class="iconStyle" th:src="@{/images/icon/close.png}" alt="閉じる" />
          </button>
        </div>
      </div>
      <div id="blockArea2">
        <th:block>
          <p>
            <input type="hidden" th:name="batterys" th:id="batterys" th:value="${form.batterys}" />
          </p>
        </th:block>
        <table class="graphTable">
          <tr>
            <th class="graphZanryoTop" colspan="3">バッテリー残量</th>
          </tr>
          <tr>
            <td class="graphZanryo">100</td>
            <td rowspan="4" colspan="4">
              <div class="graph">
                <canvas id="canvas1" width="1000" height="600">グラフ範囲</canvas>
                  <script src="/js/kdc/graph.js" th:src="@{/js/kdc/graph.js}"></script>
              </div>
            </td>
          </tr>
          <tr>
            <td class="graphZanryo">75</td>
          </tr>
          <tr>
            <td class="graphZanryo">50</td>
          </tr>
          <tr>
            <td class="graphZanryo">
              <div class="bt25">25</div> 0
            </td>
          </tr>
          <tr>
            <td class="graphFootSpase"></td>
            <td class="graphFoot">0
              <div class="bt6">6</div>
            </td>
            <td class="graphFoot">12</td>
            <td class="graphFoot">18</td>
            <td class="graphFoot">24</td>
            <td class="graphFootSpase"></td>
          </tr>
        </table>
      </div>
      <input type="hidden" id="loginId" name="loginId" value="" th:value="${form.loginId}" />
      <div id="noRecordDialog"></div>
    </form>
  </div>
</body>
</html>