<!DOCTYPE html>
<html>
  <head>
    <title>Sample Map</title>
    <meta name="viewport" content="initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" data-th-href="@{/css/map.css}" />
        <link rel="stylesheet" type="text/css" data-th-href="@{/css/core.css}" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCis_lWQpsf5h27FcdSzKUeVKSKzfk2Va8&amp;libraries=drawing,places,geometry"></script>
    <script data-th-src="@{/js/map.js}"></script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>